/* NavbarOwner.css */

.navbar {
  background-color: #f8f9fa;  /* Couleur de fond */
  border-bottom: 1px solid #dee2e6;  /* Bordure en bas */
  height: 70px;  /* Hauteur de la barre de navigation */
  width: 100%;  /* Largeur de la barre de navigation */
  position: fixed;  /* Fixée en haut de la page */
  top: 0;  /* En haut de la page */
  left: 0;  /* À gauche */
  display: flex;  /* Utilisation de Flexbox pour le positionnement des éléments */
  justify-content: space-between;  /* Distribution des éléments */
  align-items: center;  /* Alignement vertical des éléments */
  padding: 0 20px;  /* Marge intérieure */
  z-index: 1000;  /* Assurer que la navbar est au-dessus des autres éléments */
}

.navbar-brand {
  display: flex;  /* Flexbox pour centrer l'image */
  justify-content: center;  /* Centrage horizontal */
  align-items: center;  /* Centrage vertical */
}

.navbar-brand img {
  width: 50px;  /* Largeur de l'image */
  height: 50px;  /* Hauteur de l'image */
  object-fit: cover;  /* Adaptation de l'image sans déformation */
}

.ligne {
  display: none;  /* Masquer la ligne de séparation */
}

.navbar-nav {
  display: flex;  /* Utilisation de Flexbox */
  flex-direction: row;  /* Éléments en ligne */
  align-items: center;  /* Centrage vertical des éléments */
}

.nav-item {
  margin-left: 20px;  /* Espace entre les éléments */
}

.nav-link {
  display: flex;  /* Utilisation de Flexbox pour aligner les icônes et le texte */
  align-items: center;  /* Centrage vertical */
  color: #343a40;  /* Couleur du texte */
  text-decoration: none;  /* Pas de soulignement */
  transition: background-color 0.3s ease;  /* Transition pour l'effet de survol */
  padding: 10px 15px;  /* Marges intérieures */
}

.nav-link:hover {
  background-color: #e9ecef;  /* Couleur de fond au survol */
  color: #007bff;  /* Couleur du texte au survol */
}

.nav-link .fa-icon {
  margin-right: 10px;  /* Marge droite pour les icônes */
}

/* Additional styles for responsiveness */
@media (max-width: 991.98px) {
  .navbar {
      flex-direction: column;  /* Éléments en colonne pour petits écrans */
      height: auto;  /* Ajuster la hauteur */
      padding: 10px;
  }

  .navbar-nav {
      flex-direction: column;  /* Éléments en colonne pour petits écrans */
      align-items: flex-start;  /* Alignement à gauche */
      width: 100%;
  }

  .nav-item {
      width: 100%;
      margin-left: 0;
      margin-bottom: 10px;
  }

  .nav-link {
      padding: 10px;
      width: 100%;
  }
}
