/* Navbar.css */
.navbar {
  background-color:rgba(177, 220, 50, 0.819); /* Couleur de fond */
  padding: 10px 20px;
  margin-right: 150px;
  position: fixed;
  display: flex; /* Utiliser Flexbox pour disposer les éléments */
  flex-direction: column;
  justify-content: flex-start; /* Aligner les éléments en haut de la colonne */
  height: 100%;
  width: 160px;

}

.img-fluid{
  
  width: 100px; 
  height: 100px;
}
.navbar-brand {
  color: #ffffff !important; /* Couleur du texte du logo */
  font-size: 1.5em;
  font-weight: bold;
  /* border: 1px solid red; */

}

.navbar-nav{
  list-style: none;
  padding: 0;
  margin: 0;

}

.navbar-nav .nav-link {
  color: #00275B !important; /* Couleur du texte des liens */
  font-size: 1.1em;
  text-decoration: none;
  /* border: 1px solid red; */
  display: flex;

  margin-top: 10px;
  margin-left: -10px;
  padding: 10px;
}

.navbar-nav .nav-link:hover {
  color: #5e5c52 !important; /* Couleur du texte des liens au survol */
}

.navbar-toggler {
  border-color: #ffffff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (max-width: 768px) {
  .navbar {
    width: 100%; /* Utiliser toute la largeur sur les petits écrans */
    justify-content: center; /* Centrer les éléments sur les petits écrans */
  }
}

