/* src/pages/Accueil.css */

.accueil-container {
  /* padding-top: 20px;   */
  /* padding-left: 20px; */
  /* padding: 20px; */
  text-align: center;
  padding: 0;
  width: 100%;
}
.signout{
  text-decoration: none;
  margin: 0px 10px 0px 5px;
  color: red;
}
.img-acc{
  background: url('../assets/accueil.jpg');
  width: 100%;
  height: 500px;
  opacity: 0.8;
  border: 1px solid rgb(255, 255, 255);

}
.div-acc{
  margin: 0;
}
.para-one{
  display: block;
  font-size: 50px;
  font-weight: 700;
  text-align: start ;
  padding-top: 200px;
}
.para-tow{
  display: block;
  font-size: 50px;
  font-weight: 700;
  text-align:start;
}
/* .search-bar{
  display: inline-block;
  border: 1px solid blue;
  margin: 10px;

} */

.user-options{
  /* border: 1px solid red; */
  height: 30px;
  display: flex;
  text-align: center;
  justify-content: right;
  /* margin-right: 100px; */

}


.notification-icon{
  display: inline-block;
  /* border: 1px solid red; */
}

/* .settings-icon{
  display: inline-block;
  border: 1px solid purple;
  margin: 10px;

} */

.accueil-header {
  margin-bottom: 20px;
  /* height: 400px; */
}


.accueil-header h1 {
  font-size: 2.5em;
  color: #004080;
}

.accueil-header p {
  font-size: 1.2em;
  color: #666666;
}

.accueil-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.image{
  width: 100%;
  height: 400px;
}
.img-acc{
  margin-bottom: 40px;
}
.accueil-card {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  height: 140px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.accueil-card:hover {
  transform: scale(1.05);
}

.accueil-card h2 {
  font-size: 1.5em;
  color: #004080;
  margin-bottom: 10px;
}

.accueil-card p {
  font-size: 1em;
  color: #666666;
}
/* .accueil-content{
  border: 1px solid red;
} */